<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>carrot-market</title>
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/style.css}", href="../static/css/style.css">
</head>
<body>
<div class="main-container">
    <div class="center-container">
        <header>회원 가입</header>
        <div class= "landing-container">
            <form>
                <div class="input-blank">
                    <label for="itemName">이메일(ID)</label>
                    <input type="text" id="itemName" th:field="*{itemName}">
                </div>
                <div class="input-blank">
                    <label for="itemName">비밀번호(PW)</label>
                    <input type="text" id="itemName" th:field="*{itemName}">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>